@media only screen and (min-width: 768px) {
  header nav {
    padding-bottom: 0;
  }
  ul {
    flex-direction: row;
  }
  li a {
    width: auto;
  }
  #hamburger {
    display: none;
  }

  header nav {
    display: flex;
  }
}
