/**************************************
*Clear brower padding
**************************************/

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/**************************************
*Global
**************************************/

body {
  min-height: 100vh;
}
ul {
  list-style: none;
}

/**************************************
*Header
**************************************/

header {
  position: fixed;
  padding: 1rem 0 .25rem 0;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  color: #232323;
  width: 100%;
  justify-content: center;
  box-shadow: 0 0 8px #11111155;
  transition: all 1s ease-in-out;
}
header article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a:hover, nav a:active {
  background-color: #2103a785;
  color: #fff;
} 

li a {
  text-decoration: none;
}

/**************************************
*Footer
**************************************/

footer {
  position: fixed;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  min-height: 7vh;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
}

footer p {
  text-align: center;
}

/**************************************
*Body
**************************************/

section p {
  margin: 30px;
  line-height: 2rem;
  font-size: 1.5rem;
}
/**************************************
*Hamburger
**************************************/

#hamburger {
  display: flex;
  flex-direction: column;
}
.svg-middle-expand-x {
  display: none;
}
.svg-top-expand-x {
  animation: forwards top-expand 1s;
}
.svg-bottom-expand-x {
  animation: forwards bottom-expand 1s;
}
@keyframes bottom-expand {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(10px) rotate(315deg);
  }
}
@keyframes top-expand {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(15px) translateX(-3px) rotate(225deg);
  }
}
.svg-top-collapse-x {
  animation: forwards top-collapse 1s;
}
.svg-middle-collapse-x {
  display: block;
  animation: forwards middle-collapse 4s;
}
.svg-bottom-collapse-x {
  animation: forwards bottom-collapse 1s;
}
@keyframes bottom-collapse {
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  0% {
    transform: translateY(10px) rotate(315deg);
  }
}
@keyframes middle-collapse {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes top-collapse {
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  0% {
    transform: translateY(15px) translateX(-3px) rotate(225deg);
  }
}

/**************************************
*End Hamburger
**************************************/